.card {
    margin: 0.5rem;
    background-color: ghostwhite;
    transition: box-shadow .3s linear;
}

.card-title {
    text-align: center;
}

img {
    width: 15rem;
    height: 10rem;
    filter: grayscale(60%);
    transition: filter .3s linear;
}

img:hover {
    filter: grayscale(0%);
}

.card:hover {
    box-shadow: .1rem .1rem 1rem lightgray;
}