h1 {
    margin-bottom: 3rem;
}

h3 {
    margin-top: 1rem;
}

a {
    transition: color .2s linear;
}

a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: blue;
    text-decoration: inherit;
}

/* selected link */
a:active {
    color: black;
}