<div class="side-menu">
  <div class="row menu-row">
    <div class="col-xs-12">
      <a routerLink="/pictures" routerLinkActive="active">
        <div class="btn btn-primary">Pictures</div>
      </a>
    </div>
  </div>
  <div class="row menu-row">
    <div class="col-xs-12">
      <a routerLink="/names" routerLinkActive="active">
        <div class="btn btn-primary">Names</div>
      </a>
    </div>
  </div>
  <div class="row menu-row">
    <div class="col-xs-12">
      <a routerLink="/music" routerLinkActive="active">
        <div class="btn btn-primary">Music</div>
      </a>
    </div>
  </div>
  <div class="row menu-row">
      <div class="col-xs-12">
        <a routerLink="/welcome" routerLinkActive="active">
          <div class="btn btn-primary">Home</div>
        </a>
      </div>
    </div>
</div>